nav#site-navigation {
     text-align: center;
     margin-bottom: 3rem;
 
 }
 
 nav#site-navigation h1 {
     background: #fff url('./header-img.jpg') no-repeat center;
     background-size: 110%;
     margin-bottom:0;
     padding-bottom:2rem;
     display: flex;
     justify-content: center;
     height:250px;
     align-items: center;
 }
 
 nav#site-navigation h1 > a {
     display: inline-block;
     padding:1rem;
     font-size:6.6rem;
     color:white;
 }
 
 nav#site-navigation ul {
     background: #830D09;
     padding:3rem;
 }
 nav#site-navigation ul a {
     color:white;
 }
 nav#site-navigation ul a:hover {
     color:lightgray;
     text-decoration: underline;
 }
 
 .main-menu li {
     display: inline-block;
     list-style:none;
     margin-left:30px;
     margin-bottom:0;
 }
 .main-menu li:first-child {
     margin-left:0;
 }
 
#content {
     width:70%;
     margin:0 auto;
     padding-top:1rem;
     padding-bottom:1rem;
}
 
#footer {
    background:#333;
    padding: 3rem 0;
    width:100%;
}
 
#inner-footer {
     width:80%;
     margin:0 auto;
     color:white;
}

.error {
    background: #ff6b6b;
    padding:1.5rem;
    margin-bottom:1rem;
    color:white;
}
 
.success {
    background: #55bf35;
    padding:1.5rem;
    margin-bottom:1rem;
    color:white;
}


 