/* .restaurants{
    display: flex;
}
 
.restaurants article.restaurant {
     padding-bottom: 3rem;
     margin-bottom:3rem;
     border-bottom:1px solid lightgray;
}
 
.restaurants article.restaurant:last-child {
     border-bottom:none;
}
 
.restaurants article footer {
     margin-top: 1.5rem;
     font-style: italic;
} */

.title-username{
    text-transform: uppercase;
    color: black;
    display: flex;
    justify-content: center;
}
.title-username > h5{
    padding: 0 0.5%;
}
.restaurant-content{
    display: flex;
    justify-content: space-between;
}
.restaurant-content>img{
    border-radius: 50%;
    width: 30%;
}
.restaurant-menu{
    margin-right: 20%;
}
.restaurant-menu > .restaurant-menu-item{
    display: flex;
    flex-direction: column;
}
.restaurant-content-end > a{
    display: block;
    text-align: right;
}